@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Sketch&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Sketch&family=Maven+Pro:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Sketch&family=Maven+Pro:wght@400..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}


:root {
    --first: rgb(112, 92, 83);
    --second: rgb(183, 183, 183);
    --third: rgb(245, 245, 247);
    --forth: rgb(237, 223, 224);
    --fifth: rgb(24, 28, 20);
    --sixth: rgb(60, 61, 55);
    --seven: rgb(236, 223, 204);
    --eight: rgb(105, 117, 101);

}


.container {

    display: flex;
    margin: 0;


}




.icons {
    padding: 15px;

}


.icons,
img {
    height: 30px;
    border-radius: 30px;

}





.sidebar {
    /*-----sidebar-Start-----*/
    background-color: var(--fifth);
    /* width: 20vw; */
    font-family: Poppins;
    height: 100;
    transition: transform 0.5s ease-in-out;
    /*-----sidebar-End-----*/
}

.sidebar nav {
    padding: 20px;
}


.sidebar nav li {
    list-style: none;
    padding: 20px 0;
    font-size: 20px;
    padding-top: 30px;




}

.sidebar nav li a {
    text-decoration: none;
    color: var(--eight);
}

.sidebar nav li a:hover {
    text-shadow: 0 0 5px #a8e6cf, 0 0 10px #a8e6cf, 0 0 15px #a8e6cf;
    color: #ffffff;

}

.sidebarGo {
    transform: translate(-214px, 0px);
    position: absolute;
    transition: 0.10ms ease-in;
}




.main {
    background-color: var(--eight);


}


.meco {
    display: flex;
    padding-top: 5px;
    position: absolute;
    cursor: pointer;
    left: 0px;
    margin-bottom: 30px;
}

.cross {
    margin-left: 136px;
    filter: invert(100%) sepia(0%) saturate(100%) hue-rotate(0deg) brightness(95%) contrast(100%);}
.menu{
    filter: invert(100%) sepia(0%) saturate(100%) hue-rotate(0deg) brightness(95%) contrast(100%);

}


/* -------Info container Start---------- */
.infocontainer {
    margin: 80px auto;
    justify-content: space-around;
    display: flex;

}
/* --divpic Start-- */
.divpic img {
    height: 70vh;
}
/* --divpic End-- */



/* -------Info Div Start---------- */
.devinfo {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.hello {
   
    font-size: 30px;
    font-family: "Maven Pro", sans-serif;
    padding-left: 5px;
}

.name {
    font-size: 35px;

    padding-left: 5px;
    font-family: "Outfit", sans-serif;
}

.about {
    font-size: 20px;
    padding-left: 5px;
    font-family: "poppins, Londrina Sketch", sans-serif;
    margin-top: 5px;

}



.buttonc {
    margin-top: 5px;

}

.buttonc button {
    background-color: rgb(223, 222, 222);
    border: none;
    border-radius: 35px;
    padding: 12px;
    margin: 8px;
    }

button:hover {
    color: aliceblue;
    background-color: var(--sixth);
}
/* -------Info Div End---------- */

/* ----------Info container Start---------- */




/* --------Centar Skills Class Start------- */
.Sicon {
    font-family: poppins;

}

.Sicon h1 {
    background-color: var(--fifth);
    color: var(--forth);
    padding: 20px;
}

.Sicon p {
    margin-left: 20px;
    margin-top: 20px;
}

.Sicon ul li {
    list-style: none;
    padding: 20Px;
    display: flex;

}

.mainbar {
    align-self: center;
    width: 165px;
    border: 2px solid rgb(82, 48, 48);
    border-radius: 30px;
    height: 10px;


}

.childbar {
    background-color: var(--forth);
    width: 160px;
    height: 98%;
    border-radius: 40px;
    margin: 0.px;
    margin-bottom: 1px;
}


.mainbar2 {
    align-self: center;
    width: 165px;
    border: 2px solid rgb(2, 2, 2);
    border-radius: 30px;
    height: 10px;


}

.childbar2 {
    background-color: var(--forth);
    width: 133px;
    height: 98%;
    border-radius: 40px;
    margin: 0.px;
    margin-bottom: 1px;
}

.mainbar3 {
    align-self: center;
    width: 165px;
    border: 2px solid rgb(82, 48, 48);
    border-radius: 30px;
    height: 10px;


}

.childbar3 {
    background-color: var(--forth);
    width: 120px;
    height: 98%;
    border-radius: 40px;
    margin: 0.px;
    margin-bottom: 1px;
}

.mainbar4 {
    align-self: center;
    width: 165px;
    border: 2px solid rgb(82, 48, 48);
    border-radius: 30px;
    height: 10px;


}

.childbar4 {
    background-color: var(--forth);
    width: 100px;
    height: 98%;
    border-radius: 40px;
    margin: 0.px;
    margin-bottom: 1px;
}

/* --------Centar Skills Class end------- */





/* ----Blog Page Styling---- */
.mainblog {
    width: 80vw;
    background-color: var(--third);
    color: var(--sixth);
}

.contactform {
    padding: 0 10px;
}

.contactform h1 {

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 200;
    padding: 60px 0px;
    background-color: var();

}

form .mb-1,
.mb-2,
.mb-4,
.mb-3.form-check {
    padding: 10px;
}

label.form-label {
    display: flex;
    flex-direction: column;
    font-family: cursive;
}


input#clientEmail,
input#exampleInputPassword1 {
    border-radius: 30px;
    font-size: 15px;
    padding: 8px 20px;

}

textarea#bigform {
    width: 250px;
    height: 50px;
    border-radius: 30px;
    border: 2px solid;
    padding: 10px;
    /* Inner spacing */
    font-size: 16px;
    /* Font size */
    transition: border-color 0.3s ease;
    /* Smooth transition for border color */
    overflow: auto;
    /* Allow scrolling if needed */

}

div#emailHelp {
    font-family: sans-serif;
    font-size: small;
    color: darkgray;
}


button.btn.btn-primary {
    MARGIN: 10PX;
    width: 100PX;
    padding: 4PX;
    border-radius: 30px;
    font-family: cursive;

}