

:root {
    --first: rgb(112, 92, 83);
    --second: rgb(183, 183, 183);
    --third: rgb(245, 245, 247);
    --forth: rgb(237, 223, 224);
    --fifth: rgb(24, 28, 20);
    --sixth: rgb(60, 61, 55);
    --seven: rgb(236, 223, 204);
    --eight: rgb(105, 117, 101);



body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #333;
}

header {
    background-color: var(--fifth);
    color:var(--second);
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}


.blog-posts {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px auto;
    max-width: 1200px;
}

.post {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    width: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.post:hover {
    transform: scale(1.05);
}

.post img {
    width: 100%;
    height: auto;
}

.post h2 {
    margin-top: 15px;
    color: #333;
}

.post p {
    color: #666;
}

.post a {
    color: #007BFF;
    text-decoration: none;
}

.post a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: rgb(24, 28, 20);
    color: #fff;
    margin-top: 40px;
}
